body {
  margin: 0;
  padding: 0;
   font-family: -apple-system, BlinkMacSystemFont,'league spartan', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: linear-gradient(90deg, #90EE90, #6d9b6c); */
  background: #fffcef;
  }

.header {
  font-family: 'league spartan' ;
  font-size: 40px;
  color: #858423;
  display: flex;
  justify-content: center;
  border: 1px solid WHite;
  text-shadow:
        -1px -1px 0 #9bc48f,
        1px -1px 0 #9bc48f,
        -1px 1px 0 #9bc48f,
        1px 1px 0 #9bc48f;
        letter-spacing: 2px; /* Ajoute 2px d'espacement entre chaque lettre */
      }

.nav {
  font-family: 'league spartan';
  /* color: #517b50; */
  font-size:25px ;
  display: flex;
  justify-content: center;
  border: 1px solid #9bc48f;
}
.about {
  display: flex;
  justify-content: center;
  border: 1px solid #9bc48f;
  width: 200px;
}

.portrait{
  width: 300px;
  height: auto;
  border: 1px solid white;
  border-radius: 50%;
}

.footer{
  font-family: 'league spartan';
  font-size:16px ;
  text-shadow:
  -1px -1px 0 #9bc48f,
  1px -1px 0 #9bc48f,
  -1px 1px 0 #9bc48f,
  1px 1px 0 #9bc48f;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #9bc48f;
  padding-top: 20px;
}

a {
  color: #858423;
  letter-spacing: 2px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  text-shadow:
  -1px -1px 0 #9bc48f,
  1px -1px 0 #9bc48f,
  -1px 1px 0 #9bc48f,
  1px 1px 0 #9bc48f;
}

a:hover {
  color: #858423;
font-weight: bold;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  padding-left: 10px;
  
}

.fa {
margin: 10px;
 
}
